.container-user-info {
    /* height: 148px; */
    display: flex;
    align-items: center;
}

.container-name-and-level {
    padding-left: 25px;
    /* height: 80%; */
    display: flex;
    flex-direction: column;
}

.picture {
    height: 88px;
    width: 88px;
    border-radius: 44px;
    background-color: var(--primary-blue);
}

.name {
    font-size: 22px;
    line-height: 29.05px;
    font-weight: 600;
    color: var(--grey-title);
}

.container-user-level {
    margin-top: 10px;
    display: flex;
    /* justify-content: space-evenly; */
}

.user-level {
    margin-left: 10px;
    font-size: 16px;
    line-height: 13.36px;
    font-weight: 400;
    color: var(--grey-text);
}