.container-user-info {
  height: 88px;
  display: flex;
  align-items: center;
}

.container-name-and-level {
  padding-left: 25px;
  height: 80%;
  display: flex;
  flex-direction: column;
}

.picture {
  height: 88px;
  width: 88px;
  border-radius: 44px;
  background-color: var(--primary-blue);
}

.name {
  font-size: 24px;
  line-height: 29.05px;
  font-weight: 600;
  color: var(--grey-title);
}

.container-user-level {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.user-level {
  margin-left: 10px;
  font-size: 16px;
  line-height: 13.36px;
  font-weight: 400;
  color: var(--grey-text);
}

.dashboard-button {
  background-color: var(--main-bg-color);
  border: none;
  text-decoration: underline;
  cursor: pointer;
  font-size: 14px;
  line-height: 29.05px;
  font-weight: 600;
  width: 180px;
  color: var(--grey-text);
  margin-left: 5px;
  text-transform: uppercase;
}
